* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-color: #414952;
    background-size: cover;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #30414b;
}

.navbar h1 {
    margin-left: 2%;
    flex: 1;
    justify-content: left;
    color: #fff;
}

.navbar a {
    flex: 1;
    text-decoration: none;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #9c9486;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.25s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    margin-top: 1%;
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
    margin-left: 5%;
    text-align: left;
    width: 65%;
    max-width: 50%;
    max-height: 350px;
    height: auto;
    position: absolute;
    color: #fff;
}

.text h1 {
    font-size: 75px;
}

.text h2 {
    font-size: 60px;
}

.text p {
    margin: 1%;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #9c9486;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

span {
    background: #9c9486;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 1s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border-color: transparent;
}

button:not(:hover) {
    transition: border-color 2s;
    transition-delay: 0.25s;
    border: 2px solid #9c9486;
}

img {
    border-radius: 25px;
    height: auto;
    max-width: 40%;
    max-height: 70vh;
}

.pfp {
    margin-top: 1%;
    margin-right: 15%;
    flex: 1;
    text-align: right;
}
